APP_NAME="Call2Fix"
APP_ENV=local
APP_KEY=base64:VeJsIvm0PdrH5F8X/myxozKgyfJ97JQ8FQZHzAAa++w=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL="https://call2fix.woju.com.ng/"
ADMIN_URL="https://secure.call2fix.luxconsole.com"
API_URL="https://api.call2fix.luxconsole.com"

TELESCOPE_ENABLED=false
 
APP_LOCALE=en
APP_FALLBACK_LOCALE=en 
APP_FAKER_LOCALE=en_US 

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
 
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#DB_CONNECTION=sqlite

DB_CONNECTION=mysql 
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wojucomn_call2F
DB_USERNAME=wojucomn_call2F
DB_PASSWORD=wojucomn_call2F

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
#BROADCAST_CONNECTION=ably
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database


#----------------------------------------------------------------
#   PUSHER
#----------------------------------------------------------------
PUSHER_APP_ID=1358590
PUSHER_APP_KEY=9ec04d5fb119ad0f57d4
PUSHER_APP_SECRET=f046faffc015293fd859
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=eu


#----------------------------------------------------------------
#   LARAVEL REVERB
#----------------------------------------------------------------
REVERB_APP_ID=1358590
REVERB_APP_KEY=9ec04d5fb119ad0f57d4
REVERB_APP_SECRET=f046faffc015293fd859
REVERB_HOST="0.0.0.0"
REVERB_HOST="call2fix.test"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"


#----------------------------------------------------------------
#   DIGITAL OCEANS KEYS
#----------------------------------------------------------------
DO_SPACES_KEY=DO00XMVTR8TCVBLXE29V
DO_SPACES_SECRET='FVqjOvLz3JiYujnXrPVtI/qgED10QZ7ckraNBABTQ50'
DO_SPACES_ENDPOINT=https://lon1.digitaloceanspaces.com/
DO_SPACES_REGION=lon1
DO_SPACES_BUCKET=alphamead


CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis 
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST="standard8.doveserver.com"
MAIL_PORT=587
MAIL_USERNAME="call2fix@woju.com.ng"
MAIL_PASSWORD="Adedayo201@"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="call2fix@woju.com.ng"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"



#----------------------------------------------------------------
#   PAYSTACK KEYS
#----------------------------------------------------------------
PAYSTACK_PUBLIC_KEY=pk_test_da8ec1ba877315e578bcc1e4ced2ac1016826eb6
PAYSTACK_SECRET_KEY=sk_live_33095368c23cdcd7e59d89cd424bfb8c33de04d2
PAYSTACK_PAYMENT_URL=https://api.paystack.co
MERCHANT_EMAIL=unicodeveloper@gmail.com



JWT_SECRET=r9OBxbE6UQUuIXhPoyvsAPVkhT14QquQydN8pt27SvT5NiR5aBMXsrPGO7QP96tA


SANCTUM_STATEFUL_DOMAINS="api.call2fix.test"

FIREBASE_DATABASE_URL=https://<your-project>.firebaseio.com
FIREBASE_CREDENTIALS=storage/call2fix.json

ABLY_KEY='0FUIiA.WS7twg:Vsv5DF4_4BF8QQkStQUVS-xmb9iyWd9frZrfvbt_RUA'

#----------------------------------------------------------------
#   KWIK DELIVERY CONFIGS
#----------------------------------------------------------------
KWIK_DELIVERY_URL='https://staging-api-test.kwik.delivery'
KWIK_DELIVERY_EMAIL='corp-it@alphamead.com'
KWIK_DELIVERY_PASSWORD='Alph@mead24'
KWIK_DELIVERY_VENDOR_ID='Alph@mead24'
KWIK_DELIVERY_DOMAIN_NAME='staging-client-panel.kwik.delivery'
